{
  "endOfLine": "lf",
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "singleQuote": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "printWidth": 100
}
